<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>

<h1>All Comments List</h1>

<ul>
    <% @comments.each do |p| %>
        <li><%= link_to p.title, comment_path(p) %></li>
    <% end %>
</ul>

<%= link_to 'Go to All Users', users_list_path, class: 'btn btn-success btn-lg"' %>

<%= link_to 'Go to All Posts', posts_path, class: 'btn btn-success btn-lg"' %>
