<div class="jumbotron">
    <h1 class="display-3">Welcome to Grammetry</h1>
    <p class="lead">Connect with fellow IG users to meetup for real life photo adventures</p>
    <hr class="my-4">
    <p>It's easy and free to join. Click below to get started!</p>
    <p class="lead">
    <%= link_to 'Sign Up', new_user_path, class: 'btn btn-info btn-lg"' %>
    </p>
</div>

<ul>
    <% @users.each do |u| %>
        <li><%= link_to u.name, user_path(u) %></li>
    <% end %>
</ul>