<div class="main_page_text">
    <p class="lead">Welcome! Connect w/ IG users and meetup for IRL photo adventures</p>
    <hr class="my-4">
    <p>It's easy and free to join. Click below to get started!</p>
    <p class="lead">
    <%= link_to 'Sign Up', new_user_path, class: 'btn btn-warning btn-lg"' %>
</div>
