<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<h1>All Posts List</h1>

<ul>
    <% @posts.each do |p| %>
        <li><%= link_to p.title, post_path(p) %></li>
    <% end %>
</ul>