@import "bootstrap";

.home-text {
    text-align: center;
}
  
.navbar-brand {
  font-family: 'Oswald', sans-serif;
}

h1, .display-3{
  font-family: 'Pacifico', cursive;
  margin-top: 0px;
}

ul {
  list-style: none;

}

li {
  font-family: 'Oswald', sans-serif;
}

.lead {
  margin-top: 30px;
}

.jumbotron {
  margin-top: 5%;
  margin-bottom: -30px;
  width: 600px;
  height: 375px;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 3px rgba(186, 184, 184, 0.72);
  opacity: .25;
}

.main_page_text {
  margin-top: 250px;
  margin-bottom: -100px;
  width: 600px;
  height: 375px;
  color: rgba(184, 184, 184, 0.81);
  text-shadow: 1px 1px 3px rgba(186, 184, 184, 0.72);
}
  
copyright {
  color: #727272;
  text-align: right;
}

.container {
  margin-bottom: 70px;
}

.links {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  text-decoration: none !important;
  list-style: none;
  text-decoration-color: black !important;
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: auto;
}

body, html {
  height: 100%;
}

body.home {
  background-image: image-url('grammetry_logo_background.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}