@import "bootstrap";

.home-text {
    text-align: center;
}
  
a, .navbar-brand {
  font-family: 'Oswald', sans-serif;
}

h1, .display-3{
  font-family: 'Pacifico', cursive;
  margin-top: -20px;
}

.lead {
  margin-top: 30px;
}

.jumbotron {
  margin-top: 5%;
  margin-bottom: -30px;
  width: 600px;
  height: 375px;
  color: #49433A;
  text-shadow: 2px 2px 4px rgba(186, 184, 184, 0.72);
  opacity: .75;
}
  
copyright {
  color: #727272;
  text-align: right;
}

.container {
  margin-bottom: 50px;
}

body.home {
  background-image: image-url('grammetry_logo_background.png');
  background-repeat: no-repeat;
  background-size: cover;
}