@import "bootstrap";

.home-text {
    text-align: center;
}
  
.navbar-brand {
  font-family: 'Oswald', sans-serif;
}

h1, .display-3{
  font-family: 'Pacifico', cursive;
  text-shadow: 1px 1px 3px rgba(186, 184, 184, 0.72);
  color: #F9AB24;
  margin-top: 0px;
}

ul {
  list-style: none;

}

li {
  font-family: 'Oswald', sans-serif;
}

.lead {
  margin-top: 30px;
}

.main_page_text {
  margin-top: 250px;
  margin-bottom: -100px;
  width: 390px;
  height: 125px;
  color: rgba(184, 184, 184, 0.81);
  text-shadow: 1px 1px 3px rgba(186, 184, 184, 0.72);
}
  
copyright {
  color: #727272;
  text-align: right;
}

.container {
  margin-bottom: 70px;
}

.links {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  text-decoration: none ;
  list-style: none ;
  text-decoration-color: black ;
}

a:-webkit-any-link {
  text-decoration: none;
  color: black;
  cursor: auto;
}

body, html {
  height: 100%;
}

@media (min-width: 300px) and (max-width: 768px) {
  body.home {
    background-color: #000000;
    background-image: image-url("grammetry_mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 769px) { body.home {
  background-image: image-url('grammetry_logo_background.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
}

// .navbar .home_logo {
//   border-radius: 15px; 
// }


