<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-fixed-bottom" id="footer-text"></div>
        <ul class="navbar-nav mr-auto">
            <copyright>
                &copy; Kevin C. McKenna <%= Time.now.year %>
            </copyright>
        </ul>
    </div>
</nav>